html {
	background-color: #333333;
	color: #ffffff;
	text-align: center;
	width: 200px;
	height: max-content; /* para que não haja espaço 'em branco' ao fundo */
}

body {
	padding: 0;
	margin: 0;
	height: max-content; /* para que não haja espaço 'em branco' ao fundo */
}

.head {
	width: 100%;
	white-space: nowrap;
	padding: 5% 0 5% 0;
	margin: 0;
}

#linha {
	align-self: center;
	width: 95%;
	height: 1px;
	background-color: white;
	margin: 0 auto;
}

#novo {
	width: 90%;
}

button {
	cursor: pointer;
}

.create {
	width: 90%;
	background-color: #333333;
	border: solid;
	border-width: 1;
	border-radius: 5px;
	border-color: #a7a7a7;
	margin: 0 0 10% 0; 
	color: #ffffff;
}


.inserir {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ent {
	border-radius: 5px;
	margin: 0 0 5px 0; 
}

.ent_btn {
	width: 33%;
	background-color: #333333;
	border: solid;
	border-width: 1;
	border-color: #a7a7a7;
	margin: 0 0 10% 0; 
	color: #ffffff;
}


.ent_txt {
	width: 90%;
	background-color: #444444;
	border: solid;
	border-color: #a7a7a7;
	border-width: 1;
	margin: 0 0 10% 0; 
	color: #ffffff;
}
.ent_txt::placeholder {
	font-weight: lighter;
	color: #cecece;
}
button:hover {
	background-color: #666666;
}
p {
	margin: 0 0 5 0;
}
